body {
    background-color: #f4f4f4; 
    font-family: 'Courier New', Courier, monospace; 
    grid-template-rows: minmax(2.5rem, 12vmin) 1fr 5rem;
}
pre.logo {
  font-family: monospace;
  white-space: pre;
  line-height: 1;

  font-size: 1vw;
}
.bio {
    font-size: 1rem;
}